@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-primary: #44444b;
  --color-primary-variant: rgba(86, 96, 104, 0.4);
  --color-white: white;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-dark: black;
  --container-width-lg: 80%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease-in-out;
  --scale: 1.6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  line-height: 1.7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.stars {
  width: 100%;
  display: grid;
  position: fixed;
  bottom: -8rem;
  z-index: -10;
}
.star {
  width: 0.5rem;
  height: 0.5rem;
  animation: up 5s linear infinite;
}
@keyframes up {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  30% {
    opacity: 0.8;
    transform: translateY(-30vh) rotate(40deg);
  }
  60% {
    opacity: 0.6;
    transform: translateY(-60vh) rotate(90deg);
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

/* =============================== GENERATE STYLE ================================ */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5 rem;
}
.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
  transform: scale(var(--scale));
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ====================MEDIA QUERY(medium)============================ */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
/* ====================MEDIA QUERY(small)============================ */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section {
    margin-top: 6rem;
  }
}
