nav {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  width: max-content;
  display: flex;
  flex-direction: row;
  position: fixed;
  gap: 0.8rem;
  left: 50%;
  transform: translate(-50%);
  bottom: 1rem;
  z-index: 2;
  backdrop-filter: blur(12px);
  padding: 0.7rem 1.7rem;
}
nav > a {
  padding: 0.5rem;
  background: transparent;
  border-radius: 50%;
  font-size: 1.3rem;
}
nav a:hover {
  transform: translateY(-20%) scale(var(--scale));
}
nav a.active {
  color: var(--color-white);
  transform: translateY(-20%) scale(var(--scale));
}
